old/*
**/.vscode/*
.DS_Store
**/*.swp
kastors/sparselu/bin/*
kastors/jacobi/bin/jacobi-phentos-fast
kastors/jacobi/bin/jacobi-phentos-ord
kastors/jacobi/bin/jacobi-seq
omps-ee/stream-deps/stream-deps-phentos-ord
